/* Add custom styles here */

.navbar a.more {
	display: none;
	padding-right: 0;
}

.txt-btn {
	text-decoration: none;
	cursor: pointer;
}

.txt-btn.gray   { color: #999999; }
.txt-btn.blue   { color: #3366CC; }
.txt-btn.red    { color: #DC3912; }
.txt-btn.yellow { color: #FFB800; }
.txt-btn.green  { color: #109618; }
.txt-btn.purple { color: #990099; }
.txt-btn.orange { color: #FF6600; }

.permission-resource-actions { display: none; }

@media only screen and (max-width: 767px) {
	.navlbl { display: none; }
}

@media only screen and (max-width: 479px) {
	#main-menu {
		display: none;
		position: absolute;
		background-color: #f60;
		background-image: linear-gradient(0,#f60,#ff8c40);
		border-left: 1px solid #bf4d00;
		border-right: 1px solid #bf4d00;
		border-bottom: 1px solid #bf4d00;

		top: 41px;
		left: 0;
		right: 0;
	}

	#main-menu ul.nav,
	#main-menu ul.nav.right {
		float: none;
		display: block;
		padding: 0 .5em;
	}

	#main-menu ul.nav li {
		float: none;
	}

	#main-menu ul.nav ul {
		float: none;
		padding-left: 1.5em;
		position: inherit;
		background: none;
		border: none;
	}

	.navlbl { display: inline; }

	.navbar a.more {
		float: right;
		display: block;
	}
}
