/* Add custom styles here */

.navbar a.more {
	display: none;
	padding-right: 0;
}

.page-title div.small { margin-top: .5em; }

.btn-toolbar { margin-bottom: 1.5em; }

.permission-resource-actions { display: none; }

.card.modal footer { text-align: right; }

th.snap, td.snap { width: 5em; }

/* TinyMCE overrides */

.mce-tinymce {
	border-color: #999999 !important;
	border-radius: .5em;
}

.mce-tinymce button:hover { box-shadow: none; }
.mce-tinymce button:active { background: none; }

.mce-toolbar-grp:first-child {
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
}

.mce-stack-layout-item.mce-last {
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
}

.mce-btn {
	border-radius: .375em;
}

@media only screen and (max-width: 767px) {
	.navlbl { display: none; }
}

@media only screen and (max-width: 479px) {
	#main-menu {
		display: none;
		position: absolute;
		background-color: #f60;
		background-image: linear-gradient(0,#f60,#ff8c40);
		border-left: 1px solid #bf4d00;
		border-right: 1px solid #bf4d00;
		border-bottom: 1px solid #bf4d00;

		top: 41px;
		left: 0;
		right: 0;
	}

	#main-menu ul.nav,
	#main-menu ul.nav.right {
		float: none;
		display: block;
		padding: 0 .5em;
	}

	#main-menu ul.nav li {
		float: none;
	}

	#main-menu ul.nav ul {
		float: none;
		padding-left: 1.5em;
		position: inherit;
		background: none;
		border: none;
	}

	.navlbl { display: inline; }

	.navbar a.more {
		float: right;
		display: block;
	}
}
